--
-- PostgreSQL database dump
--

\restrict gLNurmDOU7wbO7g42uTQUlG7InhotqiAYvxwO0VaAkWqRDwvS24rM2uBlqvN6R5

-- Dumped from database version 18.3
-- Dumped by pg_dump version 18.3

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: pgcrypto; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pgcrypto WITH SCHEMA public;


--
-- Name: EXTENSION pgcrypto; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pgcrypto IS 'cryptographic functions';


--
-- Name: update_ipads_updated_at(); Type: FUNCTION; Schema: public; Owner: optopad
--

CREATE FUNCTION public.update_ipads_updated_at() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

BEGIN

    NEW.updated_at = TIMEZONE('utc'::text, NOW());

    RETURN NEW;

END;

$$;


ALTER FUNCTION public.update_ipads_updated_at() OWNER TO optopad;

--
-- Name: update_pacientes_updated_at(); Type: FUNCTION; Schema: public; Owner: optopad
--

CREATE FUNCTION public.update_pacientes_updated_at() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

BEGIN

    NEW.updated_at = TIMEZONE('utc'::text, NOW());

    RETURN NEW;

END;

$$;


ALTER FUNCTION public.update_pacientes_updated_at() OWNER TO optopad;

--
-- Name: update_test_configs_updated_at(); Type: FUNCTION; Schema: public; Owner: optopad
--

CREATE FUNCTION public.update_test_configs_updated_at() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

BEGIN

    NEW.updated_at = TIMEZONE('utc'::text, NOW());

    RETURN NEW;

END;

$$;


ALTER FUNCTION public.update_test_configs_updated_at() OWNER TO optopad;

--
-- Name: update_test_resultados_updated_at(); Type: FUNCTION; Schema: public; Owner: optopad
--

CREATE FUNCTION public.update_test_resultados_updated_at() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

BEGIN

    NEW.updated_at = TIMEZONE('utc'::text, NOW());

    RETURN NEW;

END;

$$;


ALTER FUNCTION public.update_test_resultados_updated_at() OWNER TO optopad;

--
-- Name: update_usuarios_updated_at(); Type: FUNCTION; Schema: public; Owner: optopad
--

CREATE FUNCTION public.update_usuarios_updated_at() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

BEGIN

  NEW.updated_at = TIMEZONE('utc'::text, NOW());

  RETURN NEW;

END;

$$;


ALTER FUNCTION public.update_usuarios_updated_at() OWNER TO optopad;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: ipad_clinico; Type: TABLE; Schema: public; Owner: optopad
--

CREATE TABLE public.ipad_clinico (
    ipad_id uuid NOT NULL,
    usuario_id uuid NOT NULL,
    created_at timestamp with time zone DEFAULT timezone('utc'::text, now()) NOT NULL
);


ALTER TABLE public.ipad_clinico OWNER TO optopad;

--
-- Name: ipads; Type: TABLE; Schema: public; Owner: optopad
--

CREATE TABLE public.ipads (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    nombre text NOT NULL,
    marca text NOT NULL,
    modelo text NOT NULL,
    created_at timestamp with time zone DEFAULT timezone('utc'::text, now()) NOT NULL,
    updated_at timestamp with time zone DEFAULT timezone('utc'::text, now()) NOT NULL
);


ALTER TABLE public.ipads OWNER TO optopad;

--
-- Name: pacientes; Type: TABLE; Schema: public; Owner: optopad
--

CREATE TABLE public.pacientes (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    id_paciente text NOT NULL,
    nombre text,
    genero text NOT NULL,
    genero_otro text,
    fecha_nacimiento date NOT NULL,
    telefono text,
    email text,
    graduacion_od text,
    graduacion_oi text,
    observaciones text,
    registrado_por uuid,
    created_at timestamp with time zone DEFAULT timezone('utc'::text, now()) NOT NULL,
    updated_at timestamp with time zone DEFAULT timezone('utc'::text, now()) NOT NULL
);


ALTER TABLE public.pacientes OWNER TO optopad;

--
-- Name: test_configs; Type: TABLE; Schema: public; Owner: optopad
--

CREATE TABLE public.test_configs (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    tipo_test text NOT NULL,
    nombre text NOT NULL,
    descripcion text,
    ipad_id uuid NOT NULL,
    created_at timestamp with time zone DEFAULT timezone('utc'::text, now()) NOT NULL,
    updated_at timestamp with time zone DEFAULT timezone('utc'::text, now()) NOT NULL,
    CONSTRAINT test_configs_tipo_test_check CHECK ((tipo_test = ANY (ARRAY['rejilla_amsler'::text, 'agudeza_visual'::text, 'optopad_color'::text, 'optopad_csf'::text])))
);


ALTER TABLE public.test_configs OWNER TO optopad;

--
-- Name: test_pasos; Type: TABLE; Schema: public; Owner: optopad
--

CREATE TABLE public.test_pasos (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    test_config_id uuid NOT NULL,
    orden integer NOT NULL,
    nombre_archivo text,
    ruta_archivo text,
    url_publica text,
    descripcion text,
    valores_correctos jsonb,
    valor_decimal numeric(40,20),
    created_at timestamp with time zone DEFAULT timezone('utc'::text, now()) NOT NULL
);


ALTER TABLE public.test_pasos OWNER TO optopad;

--
-- Name: test_resultados; Type: TABLE; Schema: public; Owner: optopad
--

CREATE TABLE public.test_resultados (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    paciente_id uuid NOT NULL,
    test_config_id uuid NOT NULL,
    paso_actual integer NOT NULL,
    datos_respuesta jsonb,
    fecha_realizacion timestamp with time zone DEFAULT timezone('utc'::text, now()) NOT NULL,
    created_at timestamp with time zone DEFAULT timezone('utc'::text, now()) NOT NULL,
    updated_at timestamp with time zone DEFAULT timezone('utc'::text, now()) NOT NULL
);


ALTER TABLE public.test_resultados OWNER TO optopad;

--
-- Name: usuarios; Type: TABLE; Schema: public; Owner: optopad
--

CREATE TABLE public.usuarios (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    email text NOT NULL,
    password_hash text NOT NULL,
    nombre text,
    role text NOT NULL,
    created_at timestamp with time zone DEFAULT timezone('utc'::text, now()) NOT NULL,
    updated_at timestamp with time zone DEFAULT timezone('utc'::text, now()) NOT NULL,
    CONSTRAINT usuarios_role_check CHECK ((role = ANY (ARRAY['administrador'::text, 'clinico'::text])))
);


ALTER TABLE public.usuarios OWNER TO optopad;

--
-- Data for Name: ipad_clinico; Type: TABLE DATA; Schema: public; Owner: optopad
--

COPY public.ipad_clinico (ipad_id, usuario_id, created_at) FROM stdin;
4350d216-143b-44e5-892b-3f007071b4a9	19eb3080-0869-4798-ab53-f409a7965f45	2026-03-08 17:04:59.816995+01
bcfde7d2-6e00-48a0-9f8c-e1950e6727b8	19eb3080-0869-4798-ab53-f409a7965f45	2026-03-08 17:05:11.417658+01
bcfde7d2-6e00-48a0-9f8c-e1950e6727b8	a4e47b1a-556f-4caa-ad12-6276270b0525	2026-03-08 17:05:11.419019+01
\.


--
-- Data for Name: ipads; Type: TABLE DATA; Schema: public; Owner: optopad
--

COPY public.ipads (id, nombre, marca, modelo, created_at, updated_at) FROM stdin;
4350d216-143b-44e5-892b-3f007071b4a9	Ipad 1	Apple	iPad Pro 12.9 (6┬¬ gen)	2026-03-08 16:08:41.816955+01	2026-03-08 17:04:59.790491+01
bcfde7d2-6e00-48a0-9f8c-e1950e6727b8	iPad2	Apple	iPad Pro 13.9 (5┬¬ gen)	2026-03-08 17:05:11.393785+01	2026-03-08 17:05:11.393785+01
\.


--
-- Data for Name: pacientes; Type: TABLE DATA; Schema: public; Owner: optopad
--



--
-- Data for Name: test_configs; Type: TABLE DATA; Schema: public; Owner: optopad
--



--
-- Data for Name: test_pasos; Type: TABLE DATA; Schema: public; Owner: optopad
--

COPY public.test_pasos (id, test_config_id, orden, nombre_archivo, ruta_archivo, url_publica, descripcion, valores_correctos, valor_decimal, created_at) FROM stdin;
\.


--
-- Data for Name: test_resultados; Type: TABLE DATA; Schema: public; Owner: optopad
--

COPY public.test_resultados (id, paciente_id, test_config_id, paso_actual, datos_respuesta, fecha_realizacion, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: usuarios; Type: TABLE DATA; Schema: public; Owner: optopad
--



--
-- Name: ipad_clinico ipad_clinico_pkey; Type: CONSTRAINT; Schema: public; Owner: optopad
--

ALTER TABLE ONLY public.ipad_clinico
    ADD CONSTRAINT ipad_clinico_pkey PRIMARY KEY (ipad_id, usuario_id);


--
-- Name: ipads ipads_pkey; Type: CONSTRAINT; Schema: public; Owner: optopad
--

ALTER TABLE ONLY public.ipads
    ADD CONSTRAINT ipads_pkey PRIMARY KEY (id);


--
-- Name: pacientes pacientes_id_paciente_key; Type: CONSTRAINT; Schema: public; Owner: optopad
--

ALTER TABLE ONLY public.pacientes
    ADD CONSTRAINT pacientes_id_paciente_key UNIQUE (id_paciente);


--
-- Name: pacientes pacientes_pkey; Type: CONSTRAINT; Schema: public; Owner: optopad
--

ALTER TABLE ONLY public.pacientes
    ADD CONSTRAINT pacientes_pkey PRIMARY KEY (id);


--
-- Name: test_configs test_configs_pkey; Type: CONSTRAINT; Schema: public; Owner: optopad
--

ALTER TABLE ONLY public.test_configs
    ADD CONSTRAINT test_configs_pkey PRIMARY KEY (id);


--
-- Name: test_pasos test_pasos_pkey; Type: CONSTRAINT; Schema: public; Owner: optopad
--

ALTER TABLE ONLY public.test_pasos
    ADD CONSTRAINT test_pasos_pkey PRIMARY KEY (id);


--
-- Name: test_pasos test_pasos_test_config_id_orden_key; Type: CONSTRAINT; Schema: public; Owner: optopad
--

ALTER TABLE ONLY public.test_pasos
    ADD CONSTRAINT test_pasos_test_config_id_orden_key UNIQUE (test_config_id, orden);


--
-- Name: test_resultados test_resultados_pkey; Type: CONSTRAINT; Schema: public; Owner: optopad
--

ALTER TABLE ONLY public.test_resultados
    ADD CONSTRAINT test_resultados_pkey PRIMARY KEY (id);


--
-- Name: usuarios usuarios_email_key; Type: CONSTRAINT; Schema: public; Owner: optopad
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT usuarios_email_key UNIQUE (email);


--
-- Name: usuarios usuarios_pkey; Type: CONSTRAINT; Schema: public; Owner: optopad
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT usuarios_pkey PRIMARY KEY (id);


--
-- Name: idx_ipad_clinico_usuario_id; Type: INDEX; Schema: public; Owner: optopad
--

CREATE INDEX idx_ipad_clinico_usuario_id ON public.ipad_clinico USING btree (usuario_id);


--
-- Name: idx_ipads_created_at; Type: INDEX; Schema: public; Owner: optopad
--

CREATE INDEX idx_ipads_created_at ON public.ipads USING btree (created_at DESC);


--
-- Name: idx_pacientes_created_at; Type: INDEX; Schema: public; Owner: optopad
--

CREATE INDEX idx_pacientes_created_at ON public.pacientes USING btree (created_at DESC);


--
-- Name: idx_pacientes_fecha_nacimiento; Type: INDEX; Schema: public; Owner: optopad
--

CREATE INDEX idx_pacientes_fecha_nacimiento ON public.pacientes USING btree (fecha_nacimiento);


--
-- Name: idx_pacientes_id_paciente_unique; Type: INDEX; Schema: public; Owner: optopad
--

CREATE UNIQUE INDEX idx_pacientes_id_paciente_unique ON public.pacientes USING btree (id_paciente);


--
-- Name: idx_pacientes_registrado_por; Type: INDEX; Schema: public; Owner: optopad
--

CREATE INDEX idx_pacientes_registrado_por ON public.pacientes USING btree (registrado_por);


--
-- Name: idx_test_configs_ipad_tipo; Type: INDEX; Schema: public; Owner: optopad
--

CREATE UNIQUE INDEX idx_test_configs_ipad_tipo ON public.test_configs USING btree (ipad_id, tipo_test);


--
-- Name: idx_test_pasos_orden; Type: INDEX; Schema: public; Owner: optopad
--

CREATE INDEX idx_test_pasos_orden ON public.test_pasos USING btree (test_config_id, orden);


--
-- Name: idx_test_pasos_test_config_id; Type: INDEX; Schema: public; Owner: optopad
--

CREATE INDEX idx_test_pasos_test_config_id ON public.test_pasos USING btree (test_config_id);


--
-- Name: idx_test_resultados_fecha; Type: INDEX; Schema: public; Owner: optopad
--

CREATE INDEX idx_test_resultados_fecha ON public.test_resultados USING btree (fecha_realizacion DESC);


--
-- Name: idx_test_resultados_paciente_id; Type: INDEX; Schema: public; Owner: optopad
--

CREATE INDEX idx_test_resultados_paciente_id ON public.test_resultados USING btree (paciente_id);


--
-- Name: idx_test_resultados_test_config_id; Type: INDEX; Schema: public; Owner: optopad
--

CREATE INDEX idx_test_resultados_test_config_id ON public.test_resultados USING btree (test_config_id);


--
-- Name: idx_usuarios_email; Type: INDEX; Schema: public; Owner: optopad
--

CREATE UNIQUE INDEX idx_usuarios_email ON public.usuarios USING btree (email);


--
-- Name: idx_usuarios_role; Type: INDEX; Schema: public; Owner: optopad
--

CREATE INDEX idx_usuarios_role ON public.usuarios USING btree (role);


--
-- Name: ipads update_ipads_updated_at; Type: TRIGGER; Schema: public; Owner: optopad
--

CREATE TRIGGER update_ipads_updated_at BEFORE UPDATE ON public.ipads FOR EACH ROW EXECUTE FUNCTION public.update_ipads_updated_at();


--
-- Name: pacientes update_pacientes_updated_at; Type: TRIGGER; Schema: public; Owner: optopad
--

CREATE TRIGGER update_pacientes_updated_at BEFORE UPDATE ON public.pacientes FOR EACH ROW EXECUTE FUNCTION public.update_pacientes_updated_at();


--
-- Name: test_configs update_test_configs_updated_at; Type: TRIGGER; Schema: public; Owner: optopad
--

CREATE TRIGGER update_test_configs_updated_at BEFORE UPDATE ON public.test_configs FOR EACH ROW EXECUTE FUNCTION public.update_test_configs_updated_at();


--
-- Name: test_resultados update_test_resultados_updated_at; Type: TRIGGER; Schema: public; Owner: optopad
--

CREATE TRIGGER update_test_resultados_updated_at BEFORE UPDATE ON public.test_resultados FOR EACH ROW EXECUTE FUNCTION public.update_test_resultados_updated_at();


--
-- Name: usuarios update_usuarios_updated_at; Type: TRIGGER; Schema: public; Owner: optopad
--

CREATE TRIGGER update_usuarios_updated_at BEFORE UPDATE ON public.usuarios FOR EACH ROW EXECUTE FUNCTION public.update_usuarios_updated_at();


--
-- Name: ipad_clinico ipad_clinico_ipad_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: optopad
--

ALTER TABLE ONLY public.ipad_clinico
    ADD CONSTRAINT ipad_clinico_ipad_id_fkey FOREIGN KEY (ipad_id) REFERENCES public.ipads(id) ON DELETE CASCADE;


--
-- Name: ipad_clinico ipad_clinico_usuario_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: optopad
--

ALTER TABLE ONLY public.ipad_clinico
    ADD CONSTRAINT ipad_clinico_usuario_id_fkey FOREIGN KEY (usuario_id) REFERENCES public.usuarios(id) ON DELETE CASCADE;


--
-- Name: pacientes pacientes_registrado_por_fkey; Type: FK CONSTRAINT; Schema: public; Owner: optopad
--

ALTER TABLE ONLY public.pacientes
    ADD CONSTRAINT pacientes_registrado_por_fkey FOREIGN KEY (registrado_por) REFERENCES public.usuarios(id) ON DELETE SET NULL;


--
-- Name: test_configs test_configs_ipad_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: optopad
--

ALTER TABLE ONLY public.test_configs
    ADD CONSTRAINT test_configs_ipad_id_fkey FOREIGN KEY (ipad_id) REFERENCES public.ipads(id) ON DELETE CASCADE;


--
-- Name: test_pasos test_pasos_test_config_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: optopad
--

ALTER TABLE ONLY public.test_pasos
    ADD CONSTRAINT test_pasos_test_config_id_fkey FOREIGN KEY (test_config_id) REFERENCES public.test_configs(id) ON DELETE CASCADE;


--
-- Name: test_resultados test_resultados_paciente_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: optopad
--

ALTER TABLE ONLY public.test_resultados
    ADD CONSTRAINT test_resultados_paciente_id_fkey FOREIGN KEY (paciente_id) REFERENCES public.pacientes(id) ON DELETE CASCADE;


--
-- Name: test_resultados test_resultados_test_config_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: optopad
--

ALTER TABLE ONLY public.test_resultados
    ADD CONSTRAINT test_resultados_test_config_id_fkey FOREIGN KEY (test_config_id) REFERENCES public.test_configs(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict gLNurmDOU7wbO7g42uTQUlG7InhotqiAYvxwO0VaAkWqRDwvS24rM2uBlqvN6R5

